.itemBox{
    width:90%;
    margin:10px auto;
    text-align:center;
    .itemTitle{
        height:30px;
        line-height:30px;
        font-weight:600;
        text-align:left;
    }
    .addressPic{
        width:530px;
        height:305px;
    }
}

.mainTable{
    width:90%;
    margin:0 auto;
    .mainItem{
        width:100%;
        height:40px;
        line-height:40px;
        .mainContent{
            border:1px solid #ddd;
            .detailContant,.detailLContant{
                display:inline-block;
                width:250px;
                height:32px;
                line-height:32px;
                vertical-align:middle;
                text-indent:12px;
                font-weight:600;
            }
            .detailContant{
                width:250px;
            }
            .detailLContant{
                width:800px;
            }
        }
    }
}

.btnBox{
    width:600px;
    margin:0 auto;
    text-align:center;
    .extendBtn{
        margin:20px 10px;
    }
}